.container {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.header {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.store_container {
    text-align: center;
    padding: 5px;
    background-color: rgb(0, 247, 255);
}

.items_container {
    text-align: center;
}

.item_container {
    padding: 5px;
    border-bottom: 1px solid grey
}